body {
    margin: 0;
    font-family: "Poppins";
    background: #e8d6dc;
    cursor: default;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0rem;
    color: #FFFFFF;
    background-color: brown;
}

.mid-parent-nav {
    display: flex;
    justify-content: space-between;
    margin: 10;
    width: 80%;
}

h1 {
    text-align: center;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    list-style: none;
    gap: 1rem;
    padding: 20;
}

li:hover {
    color: black;
}

.base-parent-nav {
    margin: 10 0;
}

.base-content {
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: blueviolet;
    transition: ease-in 0.1s 0s;
}

a:hover {
    text-decoration: underline;
    background-color: beige;
    padding: 5px;
    border-radius: 5px;
}